@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffe1cb;
  --foreground: #291c13;
  --highlight: #f38854;
  --primary: #fcc7a7;
  --secondary: #fcc7a7;
  --tertiary: #d4c0b8;

  --secondary-backdrop: #fcc7a7cc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
