@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #291c13;
  --foreground: #f38854;
  --highlight: #f38854;
  --primary: #a05c39;
  --secondary: #392518;

  --secondary-backdrop: #392518cc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
